    
     <footer class="footer-rodape-certo" id="rodape">
        <div class="footer-rodape">
            <div class="item-rodape">
                <div class="rodape_logo">
                    <img class="rodape_logo1" src="/img/logoRodaPe.png" alt="Logo Medcar">
                </div>
                <div class="redes-rodape" id="contato">
                    <a class="ic3-rodape" href="#servicos">
                        <img class="icon-rodape ic1-rodape" src="/img/location-64.png"
                            alt="Nossos Serviços">
                    </a>
                    <a href="https://www.instagram.com/medcar_centroautomotivo/">
                        <img class="icon-rodape" src="/img/instagram.png" alt="Instagram">
                    </a>
                    <a href="https://www.facebook.com/Medcarcentroautomotivovgs/">
                        <img class="icon-rodape" src="/img/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=5519994647675">
                        <img class="icon-rodape" src="/img/whatsapp.png" alt="whatsapp">
                    </a>
                    <a href="mailto:medcarcentroautomotivo20@gmail.com">
                        <img class="icon-rodape" src="/img/email.png" alt="Email">
                    </a>
                    <a href="tel:+551936431609">
                        <img class="icon-rodape" src="/img/telefone.png" alt="Telefone">
                    </a>
                    <a class="ic3-rodape" href="https://goo.gl/maps/6PRvzD4VX5Ebhh8c6">
                        <img class="icon-rodape ic3-rodape" src="/img/location-64.png"
                            alt="Localização">
                    </a>
                </div>
            </div>
            <div class="itemN-rodape">

                <div class="parteN-rodape">
                    <div class="texto6-rodape">
                        <p class="texto-rodape">NOSSOS SERVIÇOS</p>
                        <br>
                        <a href="servicos.html#servicos" class="link-rodape">
                            <p class="lib1-rodape">Alinhamento</p>
                            <p class="lib1-rodape">Balanceamento</p>
                            <p class="lib1-rodape">Bateria</p>
                            <p class="lib1-rodape">Câmbio Automático</p>
                            <p class="lib1-rodape">Freios</p>
                            <p class="lib1-rodape">Injeção eletrônica</p>
                        </a>
                        <a href="servicos.html#servicos_2" class="link-rodape">
                            <p class="lib1-rodape">Mecânica embreagem</p>
                            <p class="lib1-rodape">Radiador</p>
                            <p class="lib1-rodape">Revisão preventiva</p>
                            <p class="lib1-rodape">Suspensão</p>
                            <p class="lib1-rodape">Troca de óleo</p>
                            <p class="lib1-rodape">Troca de pneus</p>
                        </a>
                    </div>
                </div>
                <div class="parteNS-rodape">
                    <div class="textoNS-rodape">
                        <p class="texto-rodape">NOSSO ENDEREÇO</p>
                        <br>
                        <a href="https://maps.app.goo.gl/VKSF3KRTXaFRdQwS6" class="link-rodape">
                            <p id="e30-rodape">Rua Joaquim Antonio da Silva, n° 431 <br>Jardim São José, Vargem Grande do Sul</p>
                        </a>
                        <br>
                        <p class="texto-rodape">HORÁRIO DE<br>FUNCIONAMENTO</p>
                        <br>
                        <p class="e50-rodape">Seg a Sex - 07h30 às 18h<br>Sáb - 07h30 às 12h</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    </body>
</html>