<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medcar</title>
    <link rel="stylesheet" href="/src/css/tailwind.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <div class="flex justify-between py-2 bg-gray-600 w-full h-20 items-center">
            <div>
                <img src="/img/logo.png" alt="Logo" class="block w-20 h-auto mx-24">
            </div>
            <div class="flex gap-5">
                <nav>
                    <a href="/" class="px-4 text-cyan-50 text-xl">Home</a>
                    <a href="" class="px-4  text-cyan-50 text-xl">Sobre</a>
                    <a href="" class="px-4  text-cyan-50 text-xl">Serviços</a>
                    <a href="" class="px-4  text-cyan-50 text-xl">Contato</a>
                </nav>
                <div class=" mr-10">
                    <a href="/login" class="px-5  text-cyan-50 text-xl">Entrar</a>
                    <a href="/register" class="px-5  text-cyan-50 text-xl">Cadastrar</a>
                </div>
            </div>
        </div>
    </header>