<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medcar</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <div class="flex justify-between py-2 bg-zinc-700 w-full h-16 items-center">
            <div>
                <a href="/">
                    <img src="/img/logo.png" alt="Logo" class="block w-20 h-auto mx-24">
                </a>
            </div>
            <div class="flex gap-5">
                <nav>
                    <a href="/" class="px-4 text-cyan-50 text-base">Home</a>
                    <a href="" class="px-4 text-cyan-50 text-base">Sobre</a>
                    <a href="" class="px-4 text-cyan-50 text-base">Serviços</a>
                    <a href="" class="px-4 text-cyan-50 text-base">Contato</a>
                    <a href="/allUsers" class="px-4  text-cyan-50 text-base">Gerenciamento</a>
                </nav>
                <div>
                    <a href="/login" class="px-5 text-cyan-50 text-base">Entrar</a>
                    <a href="/register" class="px-5 text-cyan-50 text-base mr-10">Cadastrar</a>
                </div>
            </div>
        </div>
    </header>