<%- include('partials/header.ejs') %>

<form action="/gerenciamento/createTypePermission">
    <h3>Informe a senha de administrador</h3>
    <input type="password" name="senha">
    <button type="submit">Confirmar</button>
</form>

<%- include('partials/footer.ejs') %>