<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medcar</title>
    <link rel="stylesheet" href="/src/css/tailwind.css">
</head>
<body>
   <header>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <nav>
                <a href="">Home</a>
                <a href="">Sobre</a>
                <a href="">Serviços</a>
                <a href="">Contato</a>
            </nav>
            <div>
                <button href="/loginUser/<%- usuarioModel[i]['id'] %>">Entrar</button>
            </div>
        </div>
   </header>
</body>
</html>