<%- include('partials/header.ejs') %>

<main>
    <div class="flex flex-col w-full items-center justify-center md:flex-row my-10 mb-5">
        <div class="w-1/2 text-center items-center">
            <p class="font-normal text-8xl">MEDCAR</p>
            <p class="text-4xl font-normal">O médico do seu carro</p>
        </div>
        <div class="w-1/2 ml-14 flex items-center justify-center">
            <img src="/img/medcar.jpg" alt="Medcar" class="block w-4/6 rounded-sm h-auto">
        </div>
    </div>

    <div class="flex flex-col w-full h-5/6 p-20 items-center justify-center md:flex-row gap-6 ">

        <div class="w-1/2">
            <img src="/img/donos.jpg" alt="Donos da empresa Medcar" class="block w-4/6 rounded-sm h-auto">
        </div>

        <div class="w-1/2 box-border">
            <h5 class="text-red-800 text-2xl font-semibold text-justify">Quem somos?</h5>
            <p class="font-normal text-justify">
                Somos um centro automotivo especializado em mecânica em geral, revisão preventiva,
                injeção eletrônica, suspensão, alinhamento, balanceamento, pneus, troca de óleo, baterias e
                sistema de câmbio automático.Oferecemos todo o atendimento corretivo e preventivo para os sistemas mecânicos do seu carro.
                O Centro Automotivo Medcar está localizado na Rua Joaquim Antonio da Silva, n° 431, Jardim São José em Vargem Grande do Sul. Contamos com uma equipe profissional e especializada na área com o objetivo solucionar os problemas dos nossos clientes de forma eficaz, garantindo serviço de qualidade e a segurança dos nossos clientes. <br>
                Para nós, a sua segurança e a do seu carro estão em primeiro lugar!
            </p>
        </div>

       
    </div>


</main>

<%- include('partials/footer.ejs') %>
