<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/tailwind.css">
</head>
<body>
    <form action="/updateUser" method="post">
        <input type="email" name="email">
        <input type="senha" name="senha">
        <input type="celular" name="celular">
        <input type="cpf" name="cpf">
        <input type="nome" name="nome">

        <button type="submit">Enviar</button>
    </form>
</body>
</html>