<%- include('partials/header.ejs') %>

    <form action="/createUser" method="post">
        <input type="email" name="email" type="email" required>
        <input type="senha" name="senha" required>
        <input type="nome" name="nome" required>
        <input type="celular" name="celular">
        <input type="cpf" name="cpf">

        <button type="submit">Enviar</button>
    </form>

<%- include('partials/footer.ejs') %>