<%- include('partials/header.ejs') %>

    <main>

        <div class="divImagem">
            <img class="ftprincipal" src="/img/fotoprincipal.png" alt="">
            <div class="conteudo">
                <p class="titPrincipal">SERVIÇOS</p>
            </div>
        </div>
        <div style="margin-bottom: 5%;">
            
        <p class="tituloPrincipal">NOSSOS SERVIÇOS</p>

        <div class="linhaPrincipal">

            <div class="container">

                <div class="divServico">
                    <div class="divImg">
                        <img src="/img/alinhamento.jpeg" alt="Imagem de Embreagem" class="imgServico">
                    </div>

                    <p class="titulo">Alinhamento</p>
                    <p class="texto">O alinhamento serve para ajustar os ângulos das rodas,
                        mantendo-as retas em relação ao solo e paralelas entre si. Sinais que seu veículo precisa de
                        alinhamento: desgaste dos pneus desigual; volante desalinhado ao circular em linha reta;
                        dificuldade de retornar o volante depois de uma curva; ao chocar com algum objeto na estrada
                        ou passar em um buraco consideravel grande. <strong>O alinhamento do seu carro deve ser
                            realizado a cada 10 mil km rodados.</strong></p>

                </div>
            </div>

            <div class="container">
                <div class="divServico">
                    <div class="divImg">
                        <img src="/img/balanceamento.jpg" alt="Imagem de Embreagem" class="imgServico">
                    </div>
                    <p class="titulo">Balaceamento</p>
                    <p class="texto">O objetivo do balanceamento do pneu é distribuir o peso igualmente
                        de toda a ciscuferência do pneu, evitar vibrações e aumentar a vida útil do pneu.
                        Quando é necessário fazer? Quando o volante, banco ou piso vibrando ao atingir determinada
                        velocidade; quando troca os pneus por novos. <strong> O balanceamento do seu carro deve ser
                            realizado a cada 10 mil km rodados.</strong>
                    </p>

                </div>
            </div>

            <div class="container">
                <div class="divServico">
                    <div class="divImg">
                        <img src="/img/bateria.jpg" alt="Imagem de Embreagem" class="imgServico">
                    </div>
                    <p class="titulo">Bateria</p>
                    <p class="texto">A bateria do carro é essencial para dar partida no veículo e para o
                        sistema elétrico.
                        Sinais que sua bateria não está boa: falhas ao ligar o carro; dispositivos eletricos com
                        problemas; luzes fracas; oxidação da bateria.
                        Trabalhamos com as melhores marcas de bateria: Moura, Heliar, Tudor e Zetta.
                        Garantia de 24 meses.</p>
                </div>
            </div>
        </div>

        <div class="linhaPrincipal">

            <div class="container">

                <div class="divServico">
                    <div class="divImg">
                        <img src="/img/cambio.jpg" alt="Imagem de Embreagem" class="imgServico">
                    </div>

                    <p class="titulo">Câmbio Automático</p>
                    <p class="texto">A troca de óleo do câmbio automático realizada nos períodos corretos e com equipamentos de qualidade, ajuda seu câmbio: prevenir desgastes prematuros nos componentes internos da transmissão; evitar eventuais danos ao veículo e até a necessidade de realizar uma manutenção mais cara e profunda; análise técnica do óleo e do câmbio antes do procedimento; limpeza do fluido antigo para prevenir contaminação do novo, garantindo o melhor resultado. A troca de óleo deve ser feita  a cada 2 anos ou a cada 50 mil km rodados para prolongamento da vida útil de seu câmbio automático, evitando prejuízos. <strong>Além da troca de óleo fazemos a manutenção no câmbio automático também.</strong> 

                </div>
            </div>

            <div class="container">
                <div class="divServico">
                    <div class="divImg">
                        <img src="/img/embreagem.jpg" alt="Imagem de Embreagem" style="height: 310px;" class="imgServico">
                    </div>
                    <p class="titulo">Embreagem</p>
                    <p class="texto">A embreagem tem a função de ajudar o motorista desde a aceleração até a parada, a manutenção de embreagem é essencial
                        ao garantir o conforto e segurança do condutor e preservar o motor e a caixa
                        de câmbio.
                        Para saber o momento certo de trocar a embreagem e quais manutenções
                        devem ser feitas existem alguns sinais que podem ser observados, por
                        exemplo: embreagem patinando; trepidação; embreagem travada; ruído excessivo; pedal duro.
                    </p>

                </div>
            </div>

            <div class="container">
                <div class="divServico">
                    <div class="divImg">
                        <img src="/img/freios.jpg" alt="Imagem de Embreagem" class="imgServico">
                    </div>
                    <p class="titulo">Freio</p>
                    <p class="texto">Manter os freios em boas condições é crucial na redução dos riscos de acidentes no trânsito. É importante lembrar que a manutenção precisa ser feita a cada seis meses ou a cada dez mil quilômetros rodados, Sinais de que os freios precisam ser trocado: pedal muito duro ou muito suave, trepidação no pedal, barulhos durante a frenagem</p>
                </div>
            </div>
        </div>

        <div class="linhaPrincipal">

            <div class="container">

                <div class="divServico">
                    <div class="divImg">
                        <img src="/img/injecao.jpg" alt="Imagem de Embreagem" class="imgServico">
                    </div>

                    <p class="titulo">Injeção Eletrônica</p>
                    <p class="texto">É responsável por enviar combustível ao motor do veículo. Alguns sinais que podem indicar problema na injeção eletrônica: motor falhando, marcha lenta ou veículo morrendo; Vazamento de combustível; luz da injeção eletrônica piscando ou acessa; aumento repentino da rotação do motor; odor de combustível; falha no teste de emissão; falha na ignição.
                </div>
            </div>

            <div class="container">
                <div class="divServico">
                    <div class="divImg">
                        <img src="/img/radiador.jpg" alt="Imagem de Embreagem" class="imgServico">
                    </div>
                    <p class="titulo">Radiador</p>
                    <p class="texto">O motor em funcionamento, tende a esquentar. Então 
                        para evitar o superaquecimento é utilizado o sistema 
                        arrefecimento - responsável por deixar a temperatura 
                        motor ideal e manter o bom funcionamento do veículo. Por esse motivo, a água que é armazenada no motor precisa ser verificada com frequência. 
                        Caso o nível da água esteja baixo, não se deve 
                        completar o reservatório com água da torneira, isso 
                        pode danificar certos componentes do automovel. O 
                         correto é completar com uma solução de água destilada e aditivo próprio.
                    </p>

                </div>
            </div>

            <div class="container">
                <div class="divServico">
                    <div class="divImg">
                        <img src="/img/revisao.jpg" alt="Imagem de Embreagem" class="imgServico">
                    </div>
                    <p class="titulo">Revisão Preventiva</p>
                    <p class="texto">A revisão preventiva corrige as falhas e os problemas antes que eles ocorram. Assim, reduz os custos e aumenta a eficiência da manutenção.Alguns componentes checados: alinhamento de suspensão, óleo, velas, marchas, cinto de segurança, itens obrigatórios, pneus.</p>
                </div>
            </div>
        </div>

        <div class="linhaPrincipal">

            <div class="container">

                <div class="divServico">
                    <div class="divImg">
                        <img src="/img/suspensao.jpg" alt="Imagem de Embreagem" class="imgServico">
                    </div>

                    <p class="titulo">Suspensão</p>
                    <p class="texto">A suspensão tem duas funções: absorver as imperfeições do asfalto, proporcionando conforto aos ocupantes, e manter a estabilidade do veículo.
                        A mola absorve os impactos sofridos pelas rodas e os amortecedores seguram a sua distensão brusca, evitando oscilações no veículo. Principais componentes do sistema de suspensão são: pneus, molas, amortecedores. </p>
                </div>
            </div>

            <div class="container">
                <div class="divServico">
                    <div class="divImg">
                        <img src="/img/trocaOleo.jpg" alt="Imagem de Embreagem" class="imgServico">
                    </div>
                    <p class="titulo">Troca de oléo</p>
                    <p class="texto">Ele é principalmente responsável pela lubrificação do motor, evitando o atrito entre as peças e, consequentemente, o desgaste delas. A falta de lubrificação pode até travar o motor.
                        Recomenda-se que que o óleo seja trocado entre 5 mil a 10 mil quilômetros rodados — ou seis meses, já que a média  de quilometragem é essa.
                    </p>

                </div>
            </div>

            <div class="container">
                <div class="divServico">
                    <div class="divImg">
                        <img src="/img/trocaPneu.jpg" alt="Imagem de Embreagem" class="imgServico">
                    </div>
                    <p class="titulo">Troca de Pneu</p>
                    <p class="texto">Quando desgastados, os pneus precisam ser trocados para manter a performance e a segurança do veículo. Trabalhamos apenas com pneus de primeira linha: Michelin, Goodyear, Continenta, Dunlop, entre outras opções.</p>
                </div>
            </div>
        </div>

        </div>

    </main>

    <%- include('partials/footer.ejs') %>