<%- include('partials/header.ejs') %>
<div class=" border-t border-white text-zinc-900 py-20">
  <div class="mx-36 flex justify-between items-center">
    <div class="">
      <div class="flex items-center gap-5">
        <!-- <img src="https://s3-alpha-sig.figma.com/img/e580/e546/f84cf91ca1d9e07362eb3a35ea2278fc?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kKPEy0o-RE4K1virSDpuGnemeGVjdG56JcowlcahjEhS4ejQJR7ko0Llt4xnHrujvMgubcIFnVWIrtYRzpPLjrt3~SOaGx7jhTxCjhxWfclEy~5e6pwKcpK4nJxxLDTVJy896cs~1~l2p6T-sHIHx9ZJkdbzkcIKAymNGb6aHx-jwTAND3m-EoHwWjuPtLovuskWQ4ytIzHDWQJVKFyOgF1711i0r1Wv~sSszuZpoZhBl50hNqBDTC96JfOmOCqF5lXpmfQxOGsgITzr4Wz~1XmBQbDaK3o2OLqGlZyJYGLe5P7KfYhNYI6DaYaY0BSddJOgrlxW0IDO4DCXsfwOsg__" alt="cliente" class="size-28 rounded-full" /> -->
        <div>
          <h1 class="text-4xl mb-10">Status</h1>
          <p class=" text-base">Acompanhe em tempo real em qual estágio está a manutenção do seu carro</p>
        </div>
      </div>
      <div class="mt-10 w-2/3">
        <input type="hidden" name="email" value="<%= email %>">
        <p class="mt-2 text-gray-700"><span class="font-semibold">Placa:</span> CDR 1G57</p>
          <span class="font-semibold">Serviço:</span> 
          <% if (Array.isArray(servicos)) { %>
            <% servicos.forEach(servico => { %>
                <%= servico %>,
            <% }) %>
          <% } else { %>
            <p>Sem serviços cadastrados.</p>
          <% } %>
        
        <!-- <p class="mt-2 text-gray-400"><span class="font-semibold">Prazo:</span> 2 dias</p>
        <p class="mt-2 text-gray-400"><span class="font-semibold">Orçamento:</span> R$ 290,00</p>
        <p class="mt-2 text-gray-400"><span class="font-semibold">Data de entrada:</span> 14/09/2024</p>
        <p class="mt-2 text-gray-400"><span class="font-semibold">Data de saída:</span> 16/09/2024</p>
        <p class="mt-8"><span class="font-semibold text-lg">Valor total:</span> R$ 290,00</p> -->
      </div>
    </div>
    <div class="w-3/12 items-center">
     
      <div class="flex mt-10 gap-5">
        <div class="flex flex-col gap-5 w-52">
          <div class="flex items-center justify-between rounded-md bg-green-600 px-1.5 py-2">
            <p class="">Aguardando iniciar</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </div>
          <div class="flex items-center justify-between rounded-md bg-orange-400 px-1.5 py-2">
            <p class="">Manutenção iniciada</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>            
          </div>
          <div class="flex items-center justify-between rounded-md bg-gray-500 px-1.5 py-2">
            <p class="">Em processo</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>            
          </div>
          <!-- <div class="flex items-center justify-between rounded-md bg-gray-500 px-1.5 py-2">
            <p class="">Quase finalizado</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>            
          </div> -->
          <div class="flex items-center justify-between rounded-md bg-gray-500 px-1.5 py-2">
            <p class="">Finalizado</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>            
          </div>
        </div>
        <!-- <div class="flex flex-col gap-5 w-52">
           <p class="mt-2">Concluído</p> 
           <p>Foi iniciada a manutenção do seu veículo</p> 
        </div> -->
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
  